# SBT artifacts
project/project
project/target
target/

# Cromwell runtime
execution/
cromwell-executions

# compiled java classes
*.class

# jar files
dxWDL*.jar
dnanexus-api-*.jar

# misc
applet_resources/dxasset.json
