language: scala
sudo: false
dist: trusty

# We do not want to start a travis build
# for modifications to any branch.
branches:
    except:
        - develop
    only:
        - master
        - citest

addons:
  apt:
    packages:
    - apt-transport-https
    - wget
    - git
    - openssh-server
    - tree
    - python2.7
    - python-pip
    - maven

before_install:
  - mkdir -p /tmp/ci_tests
  - cd /tmp/ci_tests

install:
  # Clone and make the python and java dxpy version
  - pwd
  - git clone https://github.com/dnanexus/dx-toolkit.git
  - make -C dx-toolkit python java

  # Clone dxWDL into a new directory,
  - pwd
  - git clone https://github.com/dnanexus-rnd/dxWDL.git
  - echo "dxWDL branch = $TRAVIS_BRANCH"
  - cd dxWDL && git checkout $TRAVIS_BRANCH && cd ..
  - ls -R dxWDL
  - mkdir -p dxWDL/lib
  - cp dx-toolkit/lib/java/dnanexus-api-0.1.0-SNAPSHOT-jar-with-dependencies.jar dxWDL/lib/

before_script:
  - cd /tmp/ci_tests

script:
  - pwd
  - source dx-toolkit/environment
  - dx login --token ${DX_AUTH_TOKEN} --noprojects
  - java -version
  - cd dxWDL && sbt version && ./build_jar.py --multi-region
  - pwd

  # Test on US-east
  - dx select dxWDL_playground
  - java -jar dxWDL-*.jar compile test/trivial.wdl --destination /travis_ci --force
  - dx run /travis_ci/trivial -y --wait

  # Test on Sydney region
  - dx select dxWDL_Sydney
  - java -jar dxWDL-*.jar compile test/trivial.wdl --destination '/Swiss Cheese/' --force

  # don't wait for execution to complete, it takes too much time
  - dx run /Swiss\ Cheese/trivial -y

env:
  global:
    # DX_AUTH_TOKEN (orodeh)
    secure: "aQJwV/YRv8RW5OtZ+9XVBahgRp5M4nEEZOJoxbCnaLfSIvj49/y+7XNgmo9FM0kmMKLU+PpLQ9VhQQy0BXRcZ563zSw9Wj1V2NDQYQ50TLb/qg0eQjkjj1M/aK7SuyxdX90Xn3sYNLE2zJasSrAW6R22TsYRnVN8xEbxu2P7J7Ryu1c00zRjsUszorFx9DOqzziv1jIWLbkRr3HYVc6t+F1Aoolpsl30Ymv59GMXaFFzivwoE+atfKuunknHdRd9SJH/rhNBw7GgZVld5dh7nwri6fq6JfwYN3x0j/PkSJt1HLh3yB0wsAzEFwAMjITy/1dJRM2SlnAJbOGmw/DJ+ewYLpwTJ6b0gWJd9yyTxRjvz5G1xB79iPUnZ6cCWnc103dVyyO/05ES04nM+L6e6MTHst+Mjb/f8vj2HCNXxq3p8JLBN3NoOCfAUJ9ZbE7KitR7wsZVeDHRBxohHecba8L6Wy5KJKQuoOAIib0AOj+QmxnKGNvIS9L3bqo5FqDUTNxucRlplNo+rl3rQ6ghuCbn5EESCSwWPsAORnHakVmPFpwVw5SW4tA+rNqpHk+TJRxSZH/SZ+cXSe9hhtcl8R4zYgWB7l1HW88cc2vVMTdNaTcxvgLWECCCTbDikWsNuWKTpuJA5Q6yyUn8JRkOlVy74dw6BYe6wdTsvGqKyFM="
