language: scala
sudo: false
dist: bionic

# We do not want to start a travis build
# for modifications to any branch.
branches:
    except:
        - develop
    only:
        - master
        - citest

addons:
  apt:
    packages:
    - apt-transport-https
    - wget
    - git
    - openssh-server
    - tree
    - python3
    - python3-pip
    - python3-venv

before_install:
  - mkdir -p /tmp/ci_tests
  - cd /tmp/ci_tests

install:
  # Clone and make the python and java dxpy version
  - pwd
  - git clone https://github.com/dnanexus/dx-toolkit.git
  - make -C dx-toolkit python

  # Clone dxWDL into a new directory,
  - pwd
  - git clone https://github.com/dnanexus-rnd/dxWDL.git
  - echo "dxWDL branch = $TRAVIS_BRANCH"
  - cd dxWDL && git checkout $TRAVIS_BRANCH && cd ..
  - ls -R dxWDL

before_script:
  - cd /tmp/ci_tests

script:
  - pwd
  - source dx-toolkit/environment
  - dx login --token ${DX_AUTH_TOKEN}
  - dx select dxWDL_playground
  - java -version
  # run unit tests
  - cd dxWDL && sbt version && sbt compile && sbt test
