name: Master Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


jobs:
  test:
    name: Scala Unit Tests (Staging)
    runs-on: ubuntu-18.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run Tests
        env:
          AUTH_TOKEN: ${{ secrets.DX_STAGING_TOKEN }}
        run: |
          sudo apt-get update
          sudo apt-get install -y apt-transport-https wget git openssh-server tree python3 python3-pip python3-venv
          pip3 install setuptools wheel
          pip3 install dxpy
          export PATH="$PATH:$HOME/.local/bin"

          dx login --noprojects --staging --token $AUTH_TOKEN
          dx select dxWDL_playground

          sbt version && sbt compile && sbt "testOnly -- -l prod"

